<!DOCTYPE html>
<head>
  <title>SeeV</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
</head>
<body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SeeV</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://seev-adamtibballs.c9.io/views/notifactions.html">Notifactions <span class="badge">4</span></a></li>
    <!--    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li> -->
        <li><a href="#">logout</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div id="content" class="container">
        <div id="CompanyLogo" class="col-xs-12 col-sm-4 col-md-4  ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="http://www.engraversnetwork.com/files/placeholder.jpg" class="img-responsive" alt="Responsive image">
                <div id="CompanyDetails">
                    <address>
                        <h3>SeeV</h3>
                            33 Little Whiskers Rd<br>
                            Carwoola, NSW 2620<br>
                            (02) 6238-2255
                    </address>
                        <strong>About</strong><br>
                            At SeeV our aim is to help<br>
                            connect jobseekers and employers<br>
                            in the fastest possible time.<br>
                </div>
            </div>    
            </div>    
        </div>
        <div id="Profile" class="col-md-7 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>Manage account</h4>
                                <h3><small>add user</small></h3>
                                <h3><small>delete user</small></h3>
                                <h3><small>add user</small></h3>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>Applicants</h4>
                                <p>View past applicants and categorise.</p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>Position History</h4>
                                <p>View Past positions, and job desriptions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</body>
</html>