<form id="careerForm">
    
      <h3>Careers</h3>
    
   
    <div class="mdl-grid">
         <div class="mdl-cell mdl-cell--12-col">
             <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
               <thead>
                 <tr>
                   <th>Role</th>
                   <th>Company</th>
                   <th>Start</th>
                   <th>End</th>
                   <th></th>
                 </tr>
               </thead>
               <tbody>
                {{#each  model.careers as |career|}}
                  <tr>
                    <td>
                      {{#link-to 'careers.edit' career }}
                         {{career.role}}
                      {{/link-to}}
                    </td>
                    <td>{{career.company}}</td>
                    <td>{{formatDate career.start "MMM YYYY"}}</td>
                    <td>{{formatDate career.end "MMM YYYY"}}</td>
                    <td>
             
                    <button  {{action "remove" career}} ><i   class="material-icons">delete</i></button>
                   
                    </td>
                  </tr>
                {{else}}
                  <tr>
                    <td colspan="5">No careers have been added yet</td>
                  </tr>
                {{/each}}
               </tbody>
             </table>
         </div>
    </div>
    <div class="mdl-grid">
       <div class="mdl-cell mdl-cell--12-col">
         {{#link-to 'careers.new' classNames="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}Add{{/link-to}}
         {{#link-to 'jobseeker.details' classNames="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}Previous{{/link-to}}
       </div>
    </div>
  
    
   
  </form>