<form id="careerForm" class="grid-form">
    

           
     <fieldset>
        <legend>New Career</legend>
        <div data-row-span="1">
            <div data-field-span="1">
                <label for="role">Role</label>
                {{input value=model.role id="role"   }}
            </div>
            
        </div>
        <div data-row-span="1">
            <div data-field-span="1">
                <label for="company">Company</label>
                {{input value=model.company  id="company"   }}
            </div>
        </div>
        <div data-row-span="2">
            <div data-field-span="1">
                <label for="start">Start</label>
                {{date-input date=model.start  id="start"}}
            </div>
              <div data-field-span="1">
                <label for="end">End</label>
                {{date-input date=model.end  id="end"}}
                
            </div>
        </div>
        <div data-row-span="1">
          
            <div data-field-span="1">
                <label for="description">Description</label>
                {{textarea value=model.description  id="description"    }}
            </div>
        </div>
       
      </fieldset>
           
      <button  {{action "add"}} class="mdl-button mdl-js-button mdl-button--primary">Save</button>
      {{#link-to 'careers' classNames="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}Cancel{{/link-to}}
      
  
    
   
  </form>