<form id="qualificationForm" class="grid-form">
    <fieldset>
        <legend>New Qualification</legend>
        <div data-row-span="1">
            <div data-field-span="1">
                <label for="name">Name</label>
                {{input id="name" }}
            </div>

        </div>
        <div data-row-span="1">
            <div data-field-span="1">
                <label for="category">Category</label>
                {{input id="category" }}
            </div>
        </div>
        <div data-row-span="1">
            <div data-field-span="1">
                <label for="received">Received</label>
                {{date-input id="received"}}
            </div>
        </div>
    </fieldset>


    <button {{action "add"}} class="mdl-button mdl-js-button mdl-button--primary">Save</button>
    {{#link-to 'qualifications' classNames="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}Cancel{{/link-to}}

</form>