<form id="qualificationsForm">
  <h3>Qualifications</h3>
  
  <div class="mdl-grid">
       <div class="mdl-cell mdl-cell--12-col">
           <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
             <thead>
               <tr>
                 <th>Name</th>
                 <th>Category</th>
              
                 <th></th>
               </tr>
             </thead>
             <tbody>
              {{#each model.qualifications as |qualification|}}
                <tr>
                  <td>
                    {{#link-to 'qualifications.edit' qualification }}
                       {{qualification.name}}
                    {{/link-to}}
                  </td>
                  <td>{{qualification.category}}</td>
              
                  <td>
           
                  <button  {{action "remove" qualification}} ><i   class="material-icons">delete</i></button>
                 
                  </td>
                </tr>
              {{else}}
                <tr>
                  <td colspan="3">No qualifications have been added yet</td>
                </tr>
              {{/each}}
             </tbody>
           </table>
       </div>
  </div>
  <div class="mdl-grid">
     <div class="mdl-cell mdl-cell--12-col">
       {{#link-to 'qualifications.new' classNames="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}Add{{/link-to}}
       {{#link-to 'jobseeker.details' classNames="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}Previous{{/link-to}}
     </div>
  </div>

</form>