<form id="qualificationForm">
    
     
       <div id="qualificationList">
           <h3>Qualifications</h3>
           <div>
               <button id="addQualification" type="button" class="btn btn-default">Add</button>
               <button  type="button" class="btn btn-default cancel">Cancel</button>
           </div>
           <ul>
               <li>Qualification</li>
           </ul>
       </div>
     
       <div id="newQualification">
           <h3>New Qualification</h3>
          <label class="control-label col-sm-4">Name</label>
          <div class="col-sm-8">
                <input type="text" class="form-control" id="qualificationName" name="qualificationName"  placeholder="Qualification Name" >
          </div>
         <label class="control-label col-sm-4">Category</label>
          <div class="col-sm-8">
                <input type="text" class="form-control" id="qualificationCategory" name="qualificationCategory"  placeholder="Qualification Category" >
          </div>
        
         <label class="control-label col-sm-4">Date Received</label>
          <div class="col-sm-8">
                <input type="date" class="form-control" id="qualificationDatereceived" name="qualificationDatereceived"  placeholder="Qualification Received" >
          </div>
        
        
          <button id="saveQualification" class="save editQualification btn btn-default">Save</button>
          <button type="button" class="btn btn-default cancel">Cancel</button>
       </div>
  
    
   
  </form>