<form id="refereeForm">
    
     
       <div id="refereeList">
           <h3>Referees</h3>
           <div>
               <button id="addReferee" type="button" class="btn btn-default">Add</button>
               <button  type="button" class="btn btn-default cancel">Cancel</button>
           </div>
           <ul>
               <li>Name  <span>Position  -  Company</span><span><a href="#">edit</a></span></li>
           </ul>
       </div>
     
       <div id="newReferee">
           <h3>New Referee</h3>
          <label class="control-label col-sm-4">Name</label>
          <div class="col-sm-8">
                <input type="text" class="form-control" id="refereeName" name="refereeName"  placeholder="Name" >
          </div>
         <label class="control-label col-sm-4">Position</label>
          <div class="col-sm-8">
                <input type="text" class="form-control" id="refereePosition" name="refereePosition"  placeholder="Position" >
          </div>
           <label class="control-label col-sm-4">Company</label>
          <div class="col-sm-8">
                <input type="text" class="form-control" id="refereeCompany" name="refereeCompany"  placeholder="Company" >
          </div>
          <label class="control-label col-sm-4">Phone</label>
          <div class="col-sm-8">
                <input type="text" class="form-control" id="refereePhone" name="refereePhone"  placeholder="Phone" >
          </div>
          
           <label class="control-label col-sm-4">Mobile</label>
          <div class="col-sm-8">
                <input type="text" class="form-control" id="refereeMobile" name="refereeMobile"  placeholder="Mobile" >
          </div>
          
          <label class="control-label col-sm-4">Email</label>
          <div class="col-sm-8">
                <input type="text" class="form-control" id="refereeEmail" name="refereeEmail"  placeholder="Email" >
          </div>
          <button id="saveReferee" class="save editReferee btn btn-default ">Save</button>
          <button type="button" class="btn btn-default cancel">Cancel</button>
       </div>
  
    
   
  </form>