<form id="refereeForm">
     <h3>Referees</h3>
    
   
    <div id="refereeList" class="mdl-grid">
         <div class="mdl-cell mdl-cell--12-col">
             <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
               <thead>
                 <tr>
                   <th>Name</th>
                   <th>Company</th>
                   <th></th>
                 </tr>
               </thead>
               <tbody>
                {{#each model.referees as |referee|}}
                  <tr>
                    <td>
                      {{#link-to 'referees.edit' referee }}
                         {{referee.name}}
                      {{/link-to}}
                    </td>
                    <td>{{referee.company}}</td>
                    <td>
             
                    <button  {{action "remove" referee}} ><i   class="material-icons">delete</i></button>
                   
                    </td>
                  </tr>
                {{else}}
                  <tr>
                    <td colspan="3">No referees have been added yet</td>
                  </tr>
                {{/each}}
               </tbody>
             </table>
         </div>
    </div>
    <div id="refereeList" class="mdl-grid">
       <div class="mdl-cell mdl-cell--12-col">
         {{#link-to 'referees.new' classNames="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}Add{{/link-to}}
         {{#link-to 'jobseeker.details' classNames="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}Previous{{/link-to}}
       </div>
    </div>
   
  </form>