<form id="skillForm">
     <h3>Skills</h3>
    
   
    <div id="skillList" class="mdl-grid">
         <div class="mdl-cell mdl-cell--12-col">
             <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
               <thead>
                 <tr>
                   <th>Name</th>
                   <th>Category</th>
                   <th></th>
                 </tr>
               </thead>
               <tbody>
                {{#each model.skills as |skill|}}
                  <tr>
                    <td>
                      {{#link-to 'skills.edit' skill }}
                         {{skill.name}}
                      {{/link-to}}
                    </td>
                    <td>{{skill.category}}</td>
                    <td>
             
                    <button  {{action "remove" skill}} ><i   class="material-icons">delete</i></button>
                   
                    </td>
                  </tr>
                {{else}}
                  <tr>
                    <td colspan="3">No skills have been added yet</td>
                  </tr>
                {{/each}}
               </tbody>
             </table>
         </div>
    </div>
    <div id="skillList" class="mdl-grid">
       <div class="mdl-cell mdl-cell--12-col">
         {{#link-to 'skills.new' classNames="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}Add{{/link-to}}
         {{#link-to 'jobseeker.details' classNames="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}Previous{{/link-to}}
       </div>
    </div>
   
  </form>