<!DOCTYPE html>
<html>
<head>
    
    <title>SeeV</title>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
          <link rel="stylesheet" href="../css/seev.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <% include ../partials/navbar %>
    <div id="content" class="container">
    <article class="main ">
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
 
    <div class="intro_card row">
            <h1>SEEV</h1>
            <div class="SignIn panel panel-default col-sm-5 col-md-5" id="Register">
        
                <form action="/auth/local/signup" method="post"   autocomplete="off">
                    <ul>
                        <li><h2>Register</h2></li>
                        <li id="register"><input name="displayName" class="form-control" type="text" placeholder="Name" required></li>
                        <li id="register"><input name="email" class="form-control" type="email" placeholder="Email" required></li>
                        <li id="register"><input name="password" class="form-control" type="password" placeholder="Password" required></li>
                        <li id="register"><button name="signup" class="btn btn-default">Sign me up</button></li>
                                <hr />
                <h3>Or</h3>
                                   <ul class="altsign">
                                    <li>
                                   <a href="/auth/facebook"><img class="icon" name="facebook" src="../images/facebook.png">signup with facebook</a>
                                    </li>
                                    <li>
                                    <a href="/auth/google"><img class="icon" name="google" src="../images/google-plus.png"></a>
                                    </li>
                                    <li>
                                    <a href="/auth/linkedin"><img class="icon" name="linkedin" src="../images/linkedin.png"></a>
                                    </li>
                                   </ul>
                    </ul>
                </form>
            </div>
          </div>
        <section class="aboutSeeV">
             <div id="our_goal">
                 <h2>Our Goal</h2>
                 <p>At SeeV we strive to help you find work in the shortest possible time</p>
             </div>
             <div class="row">
          <div id="article" class="col-sm-4" >
              <h3>Save Money</h3>
              <p>At SeeV we strive to bring you the lowest possible price. We achieve this by cutting down on quality, who needs good staff?</p>
          </div>
          <div id="article" class="col-sm-4">
              <h3>Save Time</h3>
              <p>Create an account in minutes to give yourself the best chance of getting that dream job. Or as an employer searching for new staff takes just seconds.</p>
          </div>  
          <div id="article" class="col-sm-4">
              <h3>Save Time</h3>
              <p>Create an account in minutes to give yourself the best chance of getting that dream job. Or as an employer searching for new staff takes just seconds.</p>
          </div>
          </div>
          <div class="How_it_works">
              <h2>How it works</h2>
              <p>SeeV working by allowing employers to quickly search for jobseekers by filtering out all the jobseekers that dont meet their criteria. </p>
          </div>
        </section> 
        </div>
 </article>


    <footer></footer>

 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    
</body>
</html>