<!DOCTYPE html>
<head>
    <title>SeeV</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
 <% include ../partials/navbar %>
            <div id="content" class="container">

        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">SeeV</h4>
                            <p class="list-group-item-text">Welcome to SeeV...</p>
                        </a>  
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">Generic company</h4>
                            <p class="list-group-item-text">Hi Chris We Would...</p>
                        </a>  
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">SeeV</h4>
                            <p class="list-group-item-text">Getting Started...</p>
                        </a>  
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">SeeV</h4>
                            <p class="list-group-item-text">Tips and tricks...</p>
                        </a>  
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8">
            <div id="message">
                
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                <h3>Email content</h3>
            </div>
        </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>