<!DOCTYPE html>
<head>
    <link href="../../dist/css/vendor/bootstrap.min.css" rel="stylesheet">
    <title>SeeV</title>
    <link rel="stylesheet" href="../css/seev.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SeeV</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://seev-adamtibballs.c9.io/views/notifactions.html">Notifactions</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div id="content" class="container">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="http://cdn.flaticon.com/png/256/62652.png" class="img-thumbnail">
                    <address>
                        <h3>Chris Tibballs</h3>
                        33 Little Whiskers Rd<br>
                        Carwoola, NSW 2620<br>
                        (02) 6238-2255
                    </address>
                </div>
            </div>    
        </div>
        <div class="col-xs-12 col-sm-4 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputFile">Upload SeeV</label>
                                <input type="file" id="exampleInputFile">
                                <p class="help-block"></p>
                            </div>
                        </form>
                        <li><p>contact details</p></li>
                        <li><p>Referees</p></li>
                        <li><p>Skills</p></li>
                        <li><p>Qualifactions</p></li>
                        <li><p>Certifactions</p></li>
                        <li><p>Other</p></li>
                    </ul>
                </div>
            </div>    
        </div>
    </div>
</body>