<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <% include ../partials/common/head %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
 <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">SeeV</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
       
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">SeeV</span>
    <nav class="mdl-navigation">
    
    </nav>
  </div>
  <main class="mdl-layout__content">
    
    <div class="page-content" id="seev-app">
    </div>
  </main>
</div>

     <script type="text/x-handlebars">
       
                {{outlet}}
       
    </script>  

    <script type='text/x-handlebars' data-template-name='jobseeker'>
    
      <div class="mdl-grid">
             <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                
                <div class="mdl-card mdl-shadow--2dp seev-card">
                  
                  <div class="mdl-card__supporting-text">
                      {{#link-to 'jobseeker.details'   classNames="mdl"}}<img src="http://cdn.flaticon.com/png/256/62652.png" class="seev-profile-img">{{/link-to}}
                  </div>
                  <div class="mdl-card__actions mdl-card--border">
                      {{#link-to 'jobseeker.details' classNames="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}Home{{/link-to}}
                  </div>
                </div>

            
             </div>
             
             {{outlet}}
             
             
      </div>
    </script>
    
    <script type='text/x-handlebars' data-template-name='jobseeker/details'>

    
         <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
             
                 <div class="mdl-card mdl-shadow--2dp  seev-card-wide seev-card-details seev-cards">
                  
                  <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Personal details</h2>
                  </div>
                  <div class="mdl-card__supporting-text">
                      <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet seev-small-card-title">Name:</div><div class="mdl-cell mdl-cell--8-col  mdl-cell--5-col-tablet">{{fullname}}</div>
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet seev-small-card-title">Email:</div><div class="mdl-cell mdl-cell--8-col  mdl-cell--5-col-tablet">{{model.email}}</div>
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet seev-small-card-title">Mobile:</div><div class="mdl-cell mdl-cell--8-col  mdl-cell--5-col-tablet">{{model.mobile}}</div>
                        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet seev-small-card-title">Address:</div><div class="mdl-cell mdl-cell--8-col  mdl-cell--5-col-tablet">{{{address}}}</div>
                      </div>
                  </div>
                  <div class="mdl-card__actions mdl-card--border">
                      {{#link-to 'profiles.edit' classNames="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}Update{{/link-to}}
                  </div>
                
                </div>
             
              <div class="mdl-card mdl-shadow--2dp  seev-card-wide seev-card-referees seev-cards">
                  <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Referees</h2>
                  </div>
                 <div class="mdl-card__supporting-text">
                      <div class="mdl-grid">
                        {{#each model.referees 3 as |referee|}}
                            <div class="mdl-cell mdl-cell--12-col seev-small-card-title">
                              {{#link-to 'referees.edit' referee }}
                                 {{referee.name}}
                              {{/link-to}}
                            </div>
                        {{/each}}
                      </div>
                  </div>
                  <div class="mdl-card__actions mdl-card--border">
                    
                      {{#link-to 'referees' classNames="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}Update{{/link-to}}
                   
                  </div>
                
                </div>
            
              <div class="mdl-card mdl-shadow--2dp  seev-card-wide seev-card-careers seev-cards">
                  <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Careers</h2>
                  </div>
                 <div class="mdl-card__supporting-text">
                      <div class="mdl-grid">
                        {{#each model.careers 3 as |career|}}
                            <div class="mdl-cell mdl-cell--12-col seev-small-card-title">
                              {{#link-to 'careers.edit' career }}
                                 {{career.role}}
                              {{/link-to}}
                            </div>
                        {{/each}}
                      </div>
                  </div>
                  <div class="mdl-card__actions mdl-card--border">
                      {{#link-to 'careers' classNames="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}Update{{/link-to}}
                  </div>
                
                </div>
         </div>
            <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">        
           
                 <div class="mdl-card mdl-shadow--2dp  seev-card-wide seev-card-skills seev-cards">
                  <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Skills</h2>
                  </div>
                 <div class="mdl-card__supporting-text">
                      <div class="mdl-grid">
                        {{#each model.skills 3 as |skill|}}
                            <div class="mdl-cell mdl-cell--12-col seev-small-card-title">
                              {{#link-to 'skills.edit' skill }}
                                 {{skill.name}}
                              {{/link-to}}
                            </div>
                        {{/each}}
                      </div>
                  </div>
                  <div class="mdl-card__actions mdl-card--border">
                      {{#link-to 'skills' classNames="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}Update{{/link-to}}
                  </div>
                
                </div>
                
                 <div class="mdl-card mdl-shadow--2dp  seev-card-wide seev-card-qualifications seev-cards">
                  <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Qualifications</h2>
                  </div>
                 <div class="mdl-card__supporting-text">
                      <div class="mdl-grid">
                        {{#each model.qualifications 3 as |qualification|}}
                            <div class="mdl-cell mdl-cell--12-col seev-small-card-title">
                              {{#link-to 'qualifications.edit' skill }}
                                 {{qualification.name}}
                              {{/link-to}}
                            </div>
                        {{/each}}
                      </div>
                  </div>
                  <div class="mdl-card__actions mdl-card--border">
                      {{#link-to 'qualifications' classNames="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}Update{{/link-to}}
                  </div>
                
                </div>
                
                 <div class="mdl-card mdl-shadow--2dp  seev-card-wide seev-card-availability seev-cards">
                  <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Availability</h2>
                  </div>
                 
                  <div class="mdl-card__actions mdl-card--border">
               
                      {{#link-to 'jobseeker.details' classNames="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}Update{{/link-to}}
                  
                  </div>
                
                </div>
             
   </div>
     
    
             
    </script>
    

    
    <script type='text/x-handlebars' data-template-name='profiles/edit'>
       <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
                <% include forms/profile %>
      </div>
    </script>
    
    <script type='text/x-handlebars' data-template-name='referees'>
     <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
             <% include forms/referees %>
             {{outlet}}
     </div>
    </script>
    
    <script type='text/x-handlebars' data-template-name='referees/new'>
     <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
             <% include forms/referee_new %>
     </div>
    </script>
   
    <script type='text/x-handlebars' data-template-name='referees/edit'>
     <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
             <% include forms/referee_edit %>
     </div>
    </script>
    
    <script type='text/x-handlebars' data-template-name='careers'>
     <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
         <% include forms/careers %>
     </div>
    </script>
    
     <script type='text/x-handlebars' data-template-name='careers/new'>
     <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
         <% include forms/career_new %>
     </div>
    </script>
     <script type='text/x-handlebars' data-template-name='careers/edit'>
     <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
         <% include forms/career_edit %>
     </div>
    </script>
    
    
    <script type='text/x-handlebars' data-template-name='skills'>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
            <% include forms/skills %>
        </div>
    </script>
    <script type='text/x-handlebars' data-template-name='skills/new'>
         <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
             <% include forms/skill_new %>
         </div>
    </script>
    <script type='text/x-handlebars' data-template-name='skills/edit'>
         <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
             <% include forms/skill_edit %>
         </div>
    </script>
    
    <script type='text/x-handlebars' data-template-name='qualifications'>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
            <% include forms/qualifications %>
        </div>
    </script>
    <script type='text/x-handlebars' data-template-name='qualifications/new'>
         <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
             <% include forms/qualification_new %>
         </div>
    </script>
    <script type='text/x-handlebars' data-template-name='qualifications/edit'>
         <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
             <% include forms/qualification_edit %>
         </div>
    </script>
    
   <!-- <script type='text/x-handlebars' data-template-name='availability'>-->
    
   <!--          <h3>Availability</h3>-->
   <!-- </script>-->
    
   
    
</body>
</html>

